USE [master]
GO
/****** Object:  Database [HeuresMachine]    Script Date: 7/1/2021 3:05:31 PM ******/
CREATE DATABASE [HeuresMachine]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HeuresMachine', FILENAME = N'f:\Data\SQLFiles_CFRDB01\UserDB\HeuresMachine.mdf' , SIZE = 262144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'HeuresMachine_log', FILENAME = N'f:\Data\SQLFiles_CFRDB01\UserDB_Log\HeuresMachine_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HeuresMachine].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HeuresMachine]
GO
USE [HeuresMachine]
GO
/****** Object:  User [ad\cxblg]    Script Date: 7/1/2021 3:05:31 PM ******/
CREATE USER [ad\cxblg] FOR LOGIN [ad\cxblg] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ad\cxblg]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 7/1/2021 3:05:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Nom] [nvarchar](50) NOT NULL,
	[Ville] [nvarchar](50) NOT NULL,
	[Pays] [nvarchar](50) NOT NULL,
	[Zone] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personne]    Script Date: 7/1/2021 3:05:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personne](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[cwid] [nvarchar](20) NOT NULL,
	[Nom] [nvarchar](50) NOT NULL,
	[Acces] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Previsionnel]    Script Date: 7/1/2021 3:05:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Previsionnel](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NumeroSerie] [nvarchar](50) NOT NULL,
	[Indice] [nvarchar](50) NOT NULL,
	[Descriptif] [nvarchar](max) NOT NULL,
	[Client] [bigint] NOT NULL,
	[TypeMachine] [bigint] NOT NULL,
	[TempsBEM] [float] NOT NULL,
	[TempsBEE] [float] NOT NULL,
	[TempsBEA] [float] NOT NULL,
	[TempsTotalBEM] [float] NOT NULL,
	[TempsTotalBEE] [float] NOT NULL,
	[TempsTotalBEA] [float] NOT NULL,
	[TempsRestantBEM] [float] NOT NULL,
	[TempsRestantBEE] [float] NOT NULL,
	[TempsRestantBEA] [float] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaisieHeures]    Script Date: 7/1/2021 3:05:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaisieHeures](
	[ID] [bigint] NOT NULL,
	[NumeroSerie] [bigint] NOT NULL,
	[cwid] [nvarchar](20) NOT NULL,
	[Nom] [nvarchar](50) NOT NULL,
	[Service] [nvarchar](20) NOT NULL,
	[Date1] [nvarchar](20) NOT NULL,
	[Temps] [float] NOT NULL,
	[Indice] [nvarchar](50) NOT NULL,
	[Affaire] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Temps]    Script Date: 7/1/2021 3:05:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Temps](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[NumeroSerie] [nvarchar](50) NOT NULL,
	[Indice] [nvarchar](50) NOT NULL,
	[Descriptif] [nvarchar](max) NOT NULL,
	[TypeMachine] [nvarchar](50) NOT NULL,
	[Client] [nvarchar](50) NOT NULL,
	[Date1] [datetime] NOT NULL,
	[Temps1] [float] NOT NULL,
	[Cwid] [nvarchar](20) NOT NULL,
	[Nom] [nvarchar](50) NOT NULL,
	[service] [nvarchar](20) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeMachine]    Script Date: 7/1/2021 3:05:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeMachine](
	[ID] [bigint] NOT NULL,
	[Modele] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ID], [Nom], [Ville], [Pays], [Zone]) VALUES (2, N'Australian Urethane Systems Pty. Limited', N'Kings Park,', N'Australia', N'APAC')
INSERT [dbo].[Clients] ([ID], [Nom], [Ville], [Pays], [Zone]) VALUES (3, N'Covestro Pty Ltd', N'Mulgrave', N'Australia', N'APAC')
INSERT [dbo].[Clients] ([ID], [Nom], [Ville], [Pays], [Zone]) VALUES (4, N'Elastomers Australia', N'Air Port West', N'Australia', N'APAC')
GO
SET IDENTITY_INSERT [dbo].[Clients] OFF
SET IDENTITY_INSERT [dbo].[Personne] ON 

INSERT [dbo].[Personne] ([ID], [cwid], [Nom], [Acces], [password]) VALUES (33, N'IT_TEST_1', N'IT_TEST_1', N'technicien', N'IT_TEST_1')
INSERT [dbo].[Personne] ([ID], [cwid], [Nom], [Acces], [password]) VALUES (2, N'BE', N'BE', N'technicien', N'covestro')
INSERT [dbo].[Personne] ([ID], [cwid], [Nom], [Acces], [password]) VALUES (25, N'VVVVV', N'TEST', N'Admin', N'covestro')
SET IDENTITY_INSERT [dbo].[Personne] OFF
SET IDENTITY_INSERT [dbo].[Previsionnel] ON 

INSERT [dbo].[Previsionnel] ([ID], [NumeroSerie], [Indice], [Descriptif], [Client], [TypeMachine], [TempsBEM], [TempsBEE], [TempsBEA], [TempsTotalBEM], [TempsTotalBEE], [TempsTotalBEA], [TempsRestantBEM], [TempsRestantBEE], [TempsRestantBEA]) VALUES (56, N'R&D Machine', N'', N'Divers projets R&D Machine', 471, 2, 0, 0, 0, 0, 0, 2.5, 0, 0, -2.5)
INSERT [dbo].[Previsionnel] ([ID], [NumeroSerie], [Indice], [Descriptif], [Client], [TypeMachine], [TempsBEM], [TempsBEE], [TempsBEA], [TempsTotalBEM], [TempsTotalBEE], [TempsTotalBEA], [TempsRestantBEM], [TempsRestantBEE], [TempsRestantBEA]) VALUES (57, N'R&D Machine Haute pression', N'', N'R&D Machine Haute Pression', 471, 2, 0, 0, 0, 4, 0, 0, -4, 0, 0)
INSERT [dbo].[Previsionnel] ([ID], [NumeroSerie], [Indice], [Descriptif], [Client], [TypeMachine], [TempsBEM], [TempsBEE], [TempsBEA], [TempsTotalBEM], [TempsTotalBEE], [TempsTotalBEA], [TempsRestantBEM], [TempsRestantBEE], [TempsRestantBEA]) VALUES (58, N'SUIVI PRODUCTION MACHINES', N'', N'SUIVI PRODUCTION MACHINES', 471, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Previsionnel] OFF
SET IDENTITY_INSERT [dbo].[Temps] ON 

INSERT [dbo].[Temps] ([ID], [NumeroSerie], [Indice], [Descriptif], [TypeMachine], [Client], [Date1], [Temps1], [Cwid], [Nom], [service]) VALUES (214, N'R&D Machine', N'', N'Divers projets R&D Machine', N'2', N'471', CAST(N'2021-06-01T10:14:39.000' AS DateTime), 0, N'', N'', N'')
INSERT [dbo].[Temps] ([ID], [NumeroSerie], [Indice], [Descriptif], [TypeMachine], [Client], [Date1], [Temps1], [Cwid], [Nom], [service]) VALUES (215, N'R&D Machine Haute pression', N'', N'R&D Machine Haute Pression', N'2', N'471', CAST(N'2021-06-01T10:15:58.000' AS DateTime), 0, N'', N'', N'')
INSERT [dbo].[Temps] ([ID], [NumeroSerie], [Indice], [Descriptif], [TypeMachine], [Client], [Date1], [Temps1], [Cwid], [Nom], [service]) VALUES (216, N'SUIVI PRODUCTION MACHINES', N'', N'SUIVI PRODUCTION MACHINES', N'2', N'471', CAST(N'2021-06-01T10:16:46.000' AS DateTime), 0, N'', N'', N'')
SET IDENTITY_INSERT [dbo].[Temps] OFF
INSERT [dbo].[TypeMachine] ([ID], [Modele]) VALUES (2, N'N/A')
INSERT [dbo].[TypeMachine] ([ID], [Modele]) VALUES (5, N'Alpha 2L')
INSERT [dbo].[TypeMachine] ([ID], [Modele]) VALUES (6, N'Alpha 2M')
USE [master]
GO
